.product-row {
    cursor: pointer;
}

.product-row:hover {
    background-color: #f0f0f0; /* Подсветка строки при наведении */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 27, 27, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    height: 500px;
}

.close-button {
    cursor: pointer;
    position: absolute; /* Изменяем на абсолютное позиционирование */
    top: 10px; /* Располагаем кнопку на 10 пикселей от верхней границы */
    right: 10px; /* И на 10 пикселей от правой границы */
    font-size: 20px;
}

#posts-container {
    border: 1px solid #ccc;
    display: none; /* Скрываем по умолчанию */
    position: absolute;
    background-color: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}
#posts-container div {
    padding: 10px;
    cursor: pointer;
}
#posts-container div:hover {
    background-color: #f0f0f0;
}

#container {
    position: relative;
}

#submit-button {
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}


#search-results {
    border: 1px solid #ccc;
    position: absolute;
    background-color: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}
#search-results div {
    padding: 10px;
    cursor: pointer;
}
#search-results div:hover {
    background-color: #f0f0f0;
}